# dependencies and build artifacts in generator project
node_modules
data/node-template.zip
data/node-grpc-template.zip

# dependencies and build artifacts in template 
template/node_modules
template/dist
template/package-lock.json
template_grpc/node_modules
template_grpc/dist
template_grpc/src/generated
template_grpc/test/generated
template_grpc/package-lock.json
template_grpc/proto/buf.lock

# IDE files
.idea

# build tool artifacts
npm-debug.log*
*.tsbuildinfo
.npm
.eslintcache
