# dependencies and build artifacts in generator project
node_modules
data/node-template.zip
data/node-grpc-template.zip

# IDE files
.idea

# build tool artifacts
npm-debug.log*
*.tsbuildinfo
.npm
.eslintcache

package-lock.json
buf.lock
